/*
*
*######################page index
*################################# html & body
*
*/
body,
html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

/*
*
*
*################################# header h1
*
*
*/
header h1 {
  text-align: center; }
header .img1 {
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 100px;
  content: url("../img/logo_mario_s.png"); }
header table {
  display: inline-block;
  margin-left: 15px;
  font-size: 12px; }
  header table td {
    padding-bottom: 18px; }

/*
*
*
*############################ nav
*
*
*/
nav {
  height: 50px;
  margin: 30px 0;
  color: #0091EA;
  background-color: #E6EE9C; }
  nav ul {
    padding: 0;
    margin: 0 auto;
    width: 200px;
    text-align: center; }
    nav ul li {
      list-style-type: none;
      height: 35px;
      width: 75px;
      padding-top: 15px;
      text-align: center;
      display: inline-block; }
      nav ul li:hover {
        background-color: #0091EA; }
      nav ul li a {
        text-decoration: none;
        cursor: pointer; }

/*
*
*
*################################# main of index.html
*
*
*
*/
main h2 {
  text-align: center; }
main article {
  width: 300px;
  margin: 0 auto; }
  main article .img2 {
    width: 120px;
    height: 90px;
    content: url("../img/water_s.jpg");
    float: left; }

/*
*
*################################ footer
*
*
*/
footer {
  width: 100%;
  margin: 0 auto; }
  footer nav {
    height: 60px;
    margin: 0; }
    footer nav ul {
      width: 100%; }
      footer nav ul li {
        height: 30px;
        width: 150px;
        margin: 0;
        padding-top: 25px; }
        footer nav ul li:hover {
          background-color: inherit; }

/*
*
*
*############################### contact.html
*
*
*
*/
#map {
  height: 400px;
  width: 320px; }

.contact form {
  width: 320px; }
.contact input {
  display: table;
  width: 600px;
  height: 30px;
  border: none;
  border-bottom-style: inset;
  border-radius: 4px solid #424242;
  margin-bottom: 25px;
  padding-left: 10px; }
.contact input:focused {
  background-color: #e2e2e2; }
.contact input:hover {
  background-color: #c3c4c2; }
.contact .confirm {
  width: 80px;
  height: 30px;
  background-color: #1976D2;
  border-radius: 2px;
  margin-top: 10px;
  color: #E0E0E0; }

/*
*
*
*############################## tablet format
*
*
*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body,
  html {
    font-size: 16px; }

  header img {
    margin-left: 80px; }
  header table {
    margin-left: 200px; }
    header table td {
      padding-bottom: 45px; }

  main article {
    width: 600px;
    margin: 0 auto; }
    main article img {
      float: left; }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; } }
/*
*
*############################ pc format
*
*
*/
@media screen and (min-width: 1400px) {
  header {
    width: 1000px;
    margin: 0 auto; }
    header table {
      margin-left: 300px; }
      header table td {
        padding-bottom: 35px; }

  nav a {
    height: 180px; }

  main {
    font-size: 18px; }
    main article {
      width: 800px; }
      main article img {
        float: left; }

  #map {
    width: 700px; }

  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse; }
    .contact form {
      width: 500px; } }

/*# sourceMappingURL=style.css.map */
